@charset "utf-8";


html {
  font-size: 100%;
}

body {
  font-size: 0.9em;
  background-color: #f0f0f0;
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

header {
  height: 416px;
  color: white;
  background-image: url("../img/mainvisual.jpg");
  background-size: cover;
  padding: 20px 40px;
  position: relative;
  ul {
    display: flex;
    justify-content: flex-end;
    li {
      margin-left: 30px;

      a {
        font-weight: bold;
      }
    }
  }

    h1 {
      opacity: 0.9;
      font-size: 56px;
      position: absolute;
      top: 45%;
      left: 0;
      right: 0;
      text-align: center;
    }  
}

main{
  .menu {
    height: 1000px;
    margin-top: 50px;
    position: relative;
    .title {
      height: 300px;
      background-image: url("../img/menu.jpg");
      background-size: cover;
      //position: absolute;
      top: 30%;
      h1 {
        text-align: center;
        color: white;
        font-size: 72px;
        font-weight: bold;
        padding: 100px;
      }
    }
    .order {
      // height: 900px;
      max-width: 1000px;
      display: flex;
      margin-top: 50px;
      text-align: center;
      margin: 0 auto;
      padding: 90px 0px 0px 0px;
      .orderNav {
        width: 50%;
        padding: 0 50px;
        &:first-child {
          border-right: solid 1px black;
        }
        h3 {
          text-align: center;
          font-size: 40px;
          font-weight: bold;
          border-bottom: solid 6px #E03131;
          padding-bottom: 10px;
          display: inline-block;
        }
        dl {
          margin-top: 50px;
          display: flex;
          flex-wrap: wrap;
          font-size: 14.4px;
        }
        dt {
          width: 85%;
          margin-bottom: 30px;
          border-bottom: dotted 1px #000000;
          text-align: left;
        }
        dd {
          width: 15%;
        }
        .other {
          margin-top: 30px;
        }
      }
    }
  }

  .about {
    height: 1000px;
    margin-top: 50px;
    // position: relative;
    .title {
      height: 300px;
      background-image: url("../img/about.jpg");
      background-size: cover;
      //position: absolute;
      top: 30%;
      h1 {
        text-align: center;
        color: white;
        font-size: 72px;
        font-weight: bold;
        padding: 100px;
      }
    }

    .aboutNav {
      text-align: center;
      max-width: 1000px;
      margin: 0 auto;
      padding: 90px 16px 150px 16px;
        h3 {
          text-align: center;
          font-size: 40px;
          font-weight: bold;
          border-bottom: solid 6px #E03131;
          padding-bottom: 10px;
          display: inline-block;
        }
        // &:first-child {
        //   border-right: solid 1px black;
        // }
        ul {
          margin-top: 50px;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          li {
            list-style: none;
            width: 46%;
            line-height: 2;
            text-align: left;
            //padding-right: 10px;
          }
        }

        .link {
          margin-top: 70px;
          a {
            text-decoration: none;
            color: black;
            width: 160px;
            height: 50px;
            display: inline-block;
            background: red;
            transition: all 0.3s ease;
            line-height: 3.5;
          }

        }
      }
  }

  .location {
    height: 1000px;
    margin-top: 50px;
    position: relative;
    .title {
      height: 300px;
      background-image: url("../img/location.jpg");
      background-size: cover;
      //position: absolute;
      top: 30%;
      h1 {
        text-align: center;
        color: white;
        font-size: 72px;
        font-weight: bold;
        padding: 100px;
      }
    }
    .locationNav {
      text-align: center;
      max-width: 1000px;
      margin: 0 auto;
      padding: 90px 16px 150px 16px;      
        h3 {
          text-align: center;
          font-size: 40px;
          font-weight: bold;
          border-bottom: solid 6px #E03131;
          padding-bottom: 10px;
          display: inline-block;
          margin-bottom: 80px;
        }
        .map {
          text-align: center;
          filter: grayscale(1);
          margin-bottom: 30px;
          iframe {
            height: 400px;
            width: 100%;
          }
        }
        .mapNavi {
          height: 200px;
          line-height: 2;
          text-align: left;
          p {
            margin-bottom: 10px;
          }
        }
      }
  }
}
// .orderNav:first-child {
// }
