@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  font-size: 0.9em;
  background-color: #f0f0f0;
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}

a {
  text-decoration: none;
}

header {
  height: 416px;
  color: white;
  background-image: url("../img/mainvisual.jpg");
  background-size: cover;
  padding: 20px 40px;
  position: relative;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header ul li {
  margin-left: 30px;
}

header ul li a {
  color: #fff;
  font-weight: bold;
}

header h1 {
  opacity: 0.9;
  font-size: 56px;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  text-align: center;
}

main .menu {
  height: 1000px;
  margin-top: 50px;
  position: relative;
}

main .menu .title {
  height: 300px;
  background-image: url("../img/menu.jpg");
  background-size: cover;
  top: 30%;
}

main .menu .title h2 {
  text-align: center;
  color: white;
  font-size: 72px;
  font-weight: bold;
  padding: 100px;
}

main .menu .order {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  text-align: center;
  margin: 0 auto;
  padding: 90px 0px 0px 0px;
}

main .menu .order .orderNav {
  width: 50%;
  padding: 0 50px;
}

main .menu .order .orderNav:first-child {
  border-right: solid 1px black;
}

main .menu .order .orderNav h3 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  border-bottom: solid 6px #E03131;
  padding-bottom: 10px;
  display: inline-block;
}

main .menu .order .orderNav dl {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 14.4px;
}

main .menu .order .orderNav dt {
  width: 85%;
  margin-bottom: 30px;
  border-bottom: dotted 1px #000000;
  text-align: left;
}

main .menu .order .orderNav dd {
  width: 15%;
}

main .menu .order .orderNav .other {
  margin-top: 30px;
}

main .about {
  height: 1000px;
  margin-top: 50px;
}

main .about .title {
  height: 300px;
  background-image: url("../img/about.jpg");
  background-size: cover;
  top: 30%;
}

main .about .title h2 {
  text-align: center;
  color: white;
  font-size: 72px;
  font-weight: bold;
  padding: 100px;
}

main .about .aboutNav {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 90px 16px 150px 16px;
}

main .about .aboutNav h3 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  border-bottom: solid 6px #E03131;
  padding-bottom: 10px;
  display: inline-block;
}

main .about .aboutNav ul {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .about .aboutNav ul li {
  list-style: none;
  width: 46%;
  line-height: 2;
  text-align: left;
}

main .about .aboutNav .link {
  margin-top: 70px;
  position: relative;
  width: 160px;
  height: 50px;
  line-height: 3.5;
  display: inline-block;
  color: #000;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /*
            ホバー時の縦の動作
            右の赤線と左の赤線の高さを100%にする
          */
  /*
          ホバー時の横の動作
          下の赤線と上の赤線の横幅を100%にする
          */
}

main .about .aboutNav .link::before, main .about .aboutNav .link::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #e03131;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main .about .aboutNav .link::before {
  width: 2px;
  height: 50%;
}

main .about .aboutNav .link::after {
  width: 20%;
  height: 2px;
}

main .about .aboutNav .link:hover::before,
main .about .aboutNav .link span:hover::before {
  height: 100%;
}

main .about .aboutNav .link:hover::after,
main .about .aboutNav .link span:hover::after {
  width: 100%;
}

main .about .aboutNav .link span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

main .about .aboutNav .link span::before {
  width: 2px;
  height: 50%;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #e03131;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main .about .aboutNav .link span::after {
  width: 20%;
  height: 2px;
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #e03131;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main .location {
  margin-top: 50px;
  position: relative;
}

main .location .title {
  height: 300px;
  background-image: url("../img/location.jpg");
  background-size: cover;
  top: 30%;
}

main .location .title h2 {
  text-align: center;
  color: white;
  font-size: 72px;
  font-weight: bold;
  padding: 100px;
}

main .location .locationNav {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 90px 16px 150px 16px;
}

main .location .locationNav h3 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  border-bottom: solid 6px #E03131;
  padding-bottom: 10px;
  display: inline-block;
  margin-bottom: 80px;
}

main .location .locationNav .map {
  text-align: center;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  margin-bottom: 30px;
}

main .location .locationNav .map iframe {
  height: 400px;
  width: 100%;
}

main .location .locationNav .mapNavi {
  height: 100px;
  line-height: 2;
  text-align: left;
}

main .location .locationNav .mapNavi p {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  font-size: 0.5rem;
  padding: 10px 0;
}

@media screen and (max-width: 375px) {
  header {
    padding: 20px 40px;
    background-position: center top;
    background-repeat: no-repeat;
  }
  header h1 {
    padding: 0 16px;
  }
  header img {
    max-width: 100%;
  }
  main .menu {
    height: auto;
  }
  main .menu .title {
    height: 94px;
  }
  main .menu .title h2 {
    font-size: 2rem;
    padding: 30px;
  }
  main .menu .order {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0px 0px 0px;
  }
  main .menu .order .orderNav {
    width: auto;
  }
  main .menu .order .orderNav:first-child {
    border-right: none;
  }
  main .menu .order h3 {
    margin-top: 0px !important;
    margin-bottom: 25px !important;
    font-size: 1.25rem !important;
  }
  main .menu .order dl {
    margin-top: 0px !important;
  }
  main .menu .order dt {
    width: 87%;
  }
  main .menu .order dd {
    width: 13%;
  }
  main .about {
    height: auto;
    margin-top: 20px;
  }
  main .about .title {
    height: 94px;
    top: 20%;
    background-attachment: scroll;
  }
  main .about .title h2 {
    text-align: center;
    font-size: 2rem;
    padding: 30px;
  }
  main .about .aboutNav {
    text-align: center;
    padding: 30px 16px 60px 32px;
  }
  main .about .aboutNav h3 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.25rem;
  }
  main .about .aboutNav ul {
    margin-top: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .about .aboutNav ul li {
    list-style: none;
    width: 100%;
    padding-right: 0px;
  }
  main .about .aboutNav .link {
    margin-top: 70px;
    /*
              ホバー時の縦の動作
              右の赤線と左の赤線の高さを100%にする
            */
    /*
            ホバー時の横の動作
            下の赤線と上の赤線の横幅を100%にする
            */
  }
  main .about .aboutNav .link::before, main .about .aboutNav .link::after {
    position: absolute;
  }
  main .about .aboutNav .link::before {
    width: 2px;
  }
  main .about .aboutNav .link::after {
    width: 20%;
  }
  main .about .aboutNav .link:hover::before,
  main .about .aboutNav .link span:hover::before {
    height: 100%;
  }
  main .about .aboutNav .link:hover::after,
  main .about .aboutNav .link span:hover::after {
    width: 100%;
  }
  main .about .aboutNav .link span {
    position: relative;
  }
  main .about .aboutNav .link span::before {
    width: 2px;
  }
  main .about .aboutNav .link span::after {
    width: 20%;
  }
  main .location {
    height: auto;
    margin-top: 20px;
  }
  main .location .title {
    height: 94px;
    top: 30%;
  }
  main .location .title h2 {
    font-size: 2rem;
    padding: 30px;
  }
  main .location .locationNav {
    padding: 30px 16px 60px 16px;
  }
  main .location .locationNav h3 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.25rem;
  }
  main .location .locationNav .map {
    text-align: center;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    margin-bottom: 30px;
  }
  main .location .locationNav .map iframe {
    height: 400px;
    width: 100%;
  }
  main .location .locationNav .mapNavi {
    height: auto;
    line-height: 2;
    text-align: left;
  }
  main .location .locationNav .mapNavi p {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */